click==8.0.3  
Flask==2.0.2  
itsdangerous==2.0.1  
Jinja2==3.0.2  
MarkupSafe==2.0.1  
pip==19.3
pkg-resources==0.0.0  
setuptools==44.0.0 
Werkzeug==2.0.2
pytest == 5.2.2
pytest-html == 2.0.0
pylint == 2.4.3
